<div class="container">
    <div class='row-flex'>
        <div class="col-xs-12 col-sm-3 card">
            <h3>What is this E.D.M.?</h3>
            <p>'EDM' (AKA: Electric Dance Music or Club Music) is a broad range of percussive electronic music genres made largely for nightclubs, raves, and festivals. EDM is generally produced for playback by disc jockeys (DJs) who create seamless selections of tracks, called a set, by segueing from one recording to another. EDM producers mostly perform their music live in a concert or festival.</p>
        </div>
        <div class="col-xs-12 col-sm-6 card">
            <h3>About the page!</h3>
            <p>This page was created as a coding project in 2018! It was made to heml people find EDM music for the people who:</p>
            <ol>
                <li>Artists to get there name out there.</li>
                <li>Looking for small (or big) house parties, or to have people come to house parties!</li>
                <li>Artists to meet people.</li>
            </ol>
            <p>It is also a place for people who know nothing or a lot about EDM to find new genres and artists that go along with them!</p>
        </div>
        <div class="col-xs-12 col-sm-3 col-sm-offset-0 card">
            <img class="card_image" src="../media/img/author_card.png" alt="user_picture">
            <h3>About the Author!</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p> 
            <a href="#" class="icon"><i class="fab fa-facebook-square"></i></a>
            <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</div>