<div class="container">
    <h1>Welcome to the World of EDM!</h1>
    <div class="row-flex">
        <div class="col-xs-12 col-sm-6 card">
            <img class="card_image" src="Krontime-Project1.github.io/media/img/music_card.jpg" alt="electronic_volume_bars">
            <h3>Find Music!</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p> 
            <a href="/find_music" class="btn btn-danger btn-sm">Let's Go!</a>
        </div>
        <div class="col-xs-12 col-sm-6 card">
            <img class="card_image" src="Krontime-Project1.github.io/media/img/genres_card.jpg" alt="edm_genre_names">
            <h3>Find Artists and Genres!</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p> 
            <a href="/find_artists" class="btn btn-danger btn-sm">Let's Go!</a>
        </div>
        <div class="col-xs-12 col-sm-6 card">
            <img class="card_image" src="Krontime-Project1.github.io/media/img/about_card.jpg" alt="what_is_edm">
            <h3>About the Page!</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p> 
            <a href="/about" class="btn btn-danger btn-sm">Find Out More!</a>
        </div>
        <div class="col-xs-12 col-sm-6 card">
            <img class="card_image" src="Krontime-Project1.github.io/media/img/author_card.png" alt="user_picture">
            <h3>About the Author!</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p> 
            <a href="/about" class="btn btn-danger btn-sm">Find Out More!</a>
            <a href="#" class="icon"><i class="fab fa-facebook-square"></i></a>
            <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</div>